<div class="container" [formGroup]="setPasswordForm">
  <h2 class="alert alert-success">
    Set New Password
  </h2>
  <div class="row">
    <div class="col-md-4">
      New password:
    </div>

    <div class="col-md-4">
      <input
      formControlName = "password"
      [class.is-invalid] ="password.invalid && password.touched"
      class="form-control"
      type="password"
      placeholder="Enter your new password">

      <div
      [class.d-none]="password.valid || password.untouched"
      class="text-danger">
      Correct format password is required!

        <div class="text-info">
          Should be atmost 8 characters<br>
          Should be atleast 4 characters <br>
          Should contain atleast one number,one special symbol <br>
          And it should start with alphabet <br>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Again new password:
    </div>

    <div class="col-md-4">
      <input
      formControlName = "passwordAgain"
      class="form-control"
      [class.is-invalid] = "setPasswordForm.errors?.misMatch"
      type="password"
      #newpassword
      placeholder="Enter your new password again">

      <div
      [class.d-none]="passwordAgain.valid || passwordAgain.untouched"
      class="text-danger">
      Correct format password is required!
      </div>

      <div
      *ngIf = "setPasswordForm.errors?.misMatch"
      class="text-danger">
      Passwords do not match!
      </div>

      <div class="alert alert-success" *ngIf="isUpdated">
      Password updated :)
      </div>

      <div class="alert alert-danger" *ngIf="!isUpdated">
      Password not updated :(
      </div>
    </div>
  </div>

  <button
    [disabled]="password.invalid || passwordAgain.invalid || setPasswordForm.errors?.misMatch"
    class="btn btn-primary"
    type="submit"
    name="button"
    (click)="changePassword(newpassword.value)">
    Submit
  </button>
</div>
