<div class="container">
  <h2 class="alert alert-success">
    Forgot Password?
  </h2>
  <div class="before-forgot">
    <div class="row">

      <div class="col-md-4 labels ">
        Email:
      </div>
      <div class="col-md-4 inputs" [formGroup]="forgotPasswordForm">
        <input
        #inputEmail
        formControlName="email"
        type="text"
        class="form-control"
        placeholder="Enter registered Email address">
        <div
        [class.d-none]="email.valid || email.untouched"
        class="text-danger">
        Correct Email is required!
      </div>
      <div class="text-info" *ngIf="uniqueEmailTruthValue" [class.d-none]="uniqueEmailTruthValue === true">
        Your email is {{checkEmail}}
      </div>
      <div class="text-success" [class.d-none]="(uniqueEmailTruthValue === false) || email.untouched || email.pristine">
        Valid Email
      </div>
      <div class="text-danger" *ngIf="email.valid" [class.d-none]="(uniqueEmailTruthValue === true) || email.untouched || email.pristine ">
        Invalid Email
      </div>
    </div>
  </div>
  <button
  [class.disabled]="forgotPasswordForm.invalid || (uniqueEmailTruthValue === false)"
  (click)="sendEmail(inputEmail.value)"
  class="btn btn-primary"
  type="submit"
  name="button">
  Send Link
</button>
<div class="text-success" *ngIf="emailStatus==true">
  Email sent on given email address :)
</div>
<div class="text-success" *ngIf="emailStatus==false">
  Email not sent on given email address
  Try again :(
</div>
</div>

</div>
